body {
  font-family: Arial, sans-serif;
  color: #ffffff; /* Default text color changed to white */
}

/* Dark mode */
/* Dark mode */
.dark-mode body {
  background-color: rgba(0, 0, 0, 0.8); /* Transparent black background */
  color: #ffffff; /* Black text color */
}

/* Dark mode styles for header */
.dark-mode header {
  background-color: #333; /* Dark background color for header in dark mode */
}

.dark-mode header nav ul li button {
  color: #fff; /* White text color for buttons in dark mode */
}
/* Header styles */
header {
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background for header */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for header */
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff; /* White text color */
  transition: color 0.3s ease;
}

header nav ul li button:hover {
  color: #ffcc00; /* Yellow color on hover */
}

/* Background image */
body {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  background-image: url('https://media.discordapp.net/attachments/1205180495118471229/1225499569962487918/0bZRWELJ.jpg?ex=66215a6a&is=660ee56a&hm=fd1bbc21fa9d488259486e20bff0ea727861e923a1ed9f66c3cb73b7e8c2cd23&=&format=webp&width=928&height=930');
  background-size: 60%; /* Resize the background image to 60% */
  background-repeat: repeat; /* Allow background image to repeat */
  background-position: center; /* Center the background image */
}

/* Media page styles */
.main-content {
  padding: 20px;
}

/* Dark mode styles for media page */
.dark-mode .main-content {
  background-color: rgba(255, 255, 255, 0.1); /* Transparent white background */
}

/* Login and logout page styles */
.login-page,
.logout-page {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
}

/* Fan mail wall styles */
.fan-mail-wall {
  padding: 20px;
  background-color: #e6f2ff; /* Light blue background color */
}

/* Media types and cards styles */
.media-types {
  /* Define styles for media types */
}

.media-card {
  /* Define styles for media cards */
}

/* Fan mail wall styles */
.fan-mail-wall {
  padding: 20px;
  background-color: #f8f9fa; /* Light gray background color */
}

.fan-mail {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff; /* White background color for each fan mail */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.fan-mail-content {
  font-size: 16px;
  line-height: 1.5;
}

.fan-mail-date {
  font-size: 12px;
  color: #666666; /* Gray color for the date */
}