body {
  font-family: Arial, sans-serif;
  color: #ffffff; /* Default text color changed to white */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  background-image: url('https://media.discordapp.net/attachments/1205180495118471229/1225499569962487918/0bZRWELJ.jpg?ex=66215a6a&is=660ee56a&hm=fd1bbc21fa9d488259486e20bff0ea727861e923a1ed9f66c3cb73b7e8c2cd23&=&format=webp&width=928&height=930');
  background-size: 60%; /* Resize the background image to 60% */
  background-repeat: repeat; /* Allow background image to repeat */
  background-position: center; /* Center the background image */
}

/* Header styles */
header {
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background for header */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for header */
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff; /* White text color */
  transition: color 0.3s ease;
}

header nav ul li button:hover {
  color: #141497; /* Yellow color on hover */
}

/* Dark mode styles */
.dark-mode body {
  background-color: rgba(0, 0, 0, 0.8); /* Transparent black background */
  color: #ffffff; /* Black text color */
}

.dark-mode header {
  background-color: #000000; /* Dark background color for header in dark mode */
}

.dark-mode header nav ul li button {
  color: #fff; /* White text color for buttons in dark mode */
}

/* Media page styles */
.main-content {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

/* Media item styles */
.media-item {
  width: calc(50% - 20px); /* Half the width of the container minus padding */
  margin: 10px; /* Adjust margin for spacing between media items */
}

/* Media item image styles */
.media-item img {
  width: 100%; /* Ensure images fill the entire width of their container */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure images fit within the container without being cropped */
}

/* Media list styles */
.media-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left; 
}
/* Media card styles */
.media-card {
  border-radius: 5px;
  background-color: #060606; /* White background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Transparent box shadow */
  overflow: hidden; /* Ensure contents don't overflow */
  width: 300px; 
  margin-right: 10px; 
}

/* Media row styles */
.media-row {
  margin-bottom: 0px; /* Add some space between rows */
}

/* Media cards container styles */
.media-cards {
  display: flex; /* Use flexbox for layout */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

/* Media image styles */
.media-card img {
  width: 100%; /* Set width to fill the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure images cover the entire container */
  border-radius: 8px; /* Add rounded corners */
}

/* Hover effect */
.media-card img:hover {
  transform: scale(1.05); /* Increase the size slightly on hover */
  transition: transform 0.3s ease; /* Add a smooth transition */
}

.media-card video {
  width: 100%; /* Make the video fill the entire width of its container */
  height: auto; /* Maintain the aspect ratio of the video */
  border-radius: 8px; /* Add rounded corners to the video */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  outline: none; /* Remove the default focus outline */
}


.media-card-overlay {
  position: absolute;
  top: 10;
  left: 10;
  width: 200%;
  height: 200%;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media card overlay text styles */
.media-card-overlay-text {
  color: #ffffff; /* White text color */
  font-size: 18px;
  text-align: center;
}

/* Media card hover effect */
.media-card:hover .media-card-overlay {
  opacity: 1;
}

/* Media card click effect */
.media-card.clicked .media-card-overlay {
  opacity: 1;
}

/* Search bar styles */
.searchbar {
  margin-bottom: 0px;
}

.searchbar form {
  display: flex;
  align-items: center;
}

.searchbar label {
  margin-right: 10px;
}

.searchbar input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

/* Button styles */
button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Textarea styles */
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Loading indicator styles */
.loading {
  font-style: italic;
}

/* Error message styles */
.error {
  color: red;
}